---
import Layout from '../layouts/Layout.astro';
---

<Layout title="Thom Bruce">
	<main>
		<h1>Welcome to ThomBruce.com</h1>
		<p>
			Things are a little... empty here right now. But check back soon for whatever I wind up putting here.
		</p>
	</main>
</Layout>
