---
import Layout from '../layouts/Layout.astro';
---

<Layout title="Thom Bruce">
	<header>
		<h1>Thom Bruce</h1>

		<p>Welcome to ThomBruce.com</p>
	</header>
	<main>
		<h2>My Stuff</h2>

		<p>
			<ul>
				<li><a href='https://youtube.com/@thombruce'>YouTube</a></li>
				<li><a href='https://twitch.tv/thombruce'>YouTube</a></li>
				<li><a href='https://github.com/thombruce'>GitHub</a></li>
				<li><a href='https://discord.gg/SAUagUgTfa'>Discord</a></li>
				<li><a href='/screenplays'>Screenplays</a></li>
			</ul>
		</p>
	</main>
</Layout>
