---
import Layout from '../layouts/Layout.astro';
---

<Layout title="Thom Bruce">
	<main>
		<h1>ThomBruce.com</h1>
		<h2>Site Links</h2>
		<p>
			<ul>
				<li><a href='/screenplays'>Screenplays</a></li>
			</ul>
		</p>
		<h2>Other Links</h2>
		<p>
			<ul>
				<li><a href='https://youtube.com/thombruce'>YouTube</a></li>
				<li><a href='https://twitter.com/thombruce'>Twitter</a></li>
				<li><a href='https://discord.gg/SAUagUgTfa'>Discord</a></li>
				<li><a href='https://github.com/thombruce'>GitHub</a></li>
			</ul>
		</p>
	</main>
</Layout>
